<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<dllmap os="!windows" dll="nlsCsharpSdkExtern" target="libnlsCsharpSdkExtern.so" />
	<dllmap os="!windows" dll="x64\nlsCppSdkLibs\Debug\nlsCppSdk" target="libnlsCppSdk.so" />
	<dllmap os="!windows" dll="x64\nlsCppSdkLibs\Debug\libcrypto-1_1-x64" target="libcrypto-1_1-x64.so" />
	<dllmap os="!windows" dll="x64\nlsCppSdkLibs\Debug\libssl-1_1-x64" target="libssl-1_1-x64.so" />
	<dllmap os="!windows" dll="x64\nlsCppSdkLibs\Debug\libeay32" target="libeay32.so" />
	<dllmap os="!windows" dll="x64\nlsCppSdkLibs\Debug\ssleay32" target="ssleay32.so" />
	<dllmap os="!windows" dll="x64\nlsCppSdkLibs\Debug\pthreadVC2" target="libpthreadVC2.so" />
	<dllmap os="!windows" dll="x64\nlsCppSdkLibs\Debug\libcurld" target="libcurld.so" />
</configuration>